@model MyMovies.Models.Movie;

@{
    Layout = "_Layout";
}

<img src="@Model.ImageURL">
<h1>@Model.Title</h1>
<p>@Model.Description</p>

<h2>Movie cast</h2>
<p>@Model.Cast</p>

@*@foreach (var cast in Model.Cast)
{
    <li>@cast</li>
}*@