@*@model MyMovies.Models.Movie;*@
@*@model MyMovies.Data.Movie;*@
@model MyMovies.ViewModels.MovieDetailsModel;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}



<div id="Detail-Container" style="width:60%; margin:auto; margin-top:30px; ">
    <img src="@Model.ImageUrl" style="width:100%; height:80%; margin:0 auto; ">
    <h1>@Model.Title</h1>
    <p>@Model.Description</p>

    <h2>Movie cast</h2>
    <p>@Model.Cast</p>

    <h2>Date Created</h2>
    <p>@Model.DateCreated</p>
</div>


<h3>Comments:</h3>
@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="MovieComments" asp-action="Add" method="post">
        <input id="movieId" name="movieId" value="@Model.Id" hidden />   @*prakjame i ID za da znaeme za koj movie stanuva zbor*@ 
     <div class="form-group">
         <textarea id="comment" name="comment" class="form-control"></textarea>
     </div>
        <button type="submit" class="btn btn-primary" value="Submit Comment">Submit</button>
    </form>
}
@foreach (var comment in Model.MovieComments)
{
    <p>@comment.Comment - @comment.DateCreated -@comment.Username</p>
}

@*@foreach (var cast in Model.Cast)
    {
        <li>@cast</li>
    }*@