@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


@model MyMovies.ViewModels.OverviewViewDataModel;
@{
    Layout = "_Layout";
    ViewBag.Title = "Index";
}

@if (@Model.Movies.Count == 0)
{
    <p>No results found</p>
}

<div class="row" style="justify-content:flex-end; margin-top:5px;">
    <form asp-controller="Movies" asp-action="Overview">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
            <input type="text" name="Title" value="" id="title" class="form-control" placeholder="Search" />
        </div>
    </form>
</div>



<div class="row">
    <div class="col-md-9">
        <div class="row">
            @foreach (var movie in @Model.Movies)
            {
                <div class="col-lg-4" style="margin-right:10px;">
                    <div class="card" style="width: 18rem;">
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><img src="@movie.ImageUrl" style="height:250px" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            @*<p class="card-text">@movie.Description</p>*@
                            <p class="card-text">Date Created: @movie.DaysCreated days ago</p>

                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        <partial name="SidebarPartial" for="SidebarData" />
    </div>
    
</div>
