@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "UsersModifyOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<MyMovies.ViewModels.ModifyUserOverviewModel>

<h1>UsersModifyOverview</h1>

@*<div class="form-group">
    <a class="btn btn-primary" asp-controller="Movies" asp-action="Create">Add new movie</a>
</div>*@

<table class="table" style="margin-top:20px;">
    <thead>
        <tr>
            <td>User</td>
            <td>Is Admin</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>
                <input type="checkbox" checked="@user.IsAdmin" disabled="disabled" asp-for="@user.IsAdmin"/> </td>
                @*<td>Modify | Delete</td>*@
            <td><a asp-controller="Users" asp-action="Modify" asp-route-id="@user.Id"> Modify</a> |<a asp-controller="Users" asp-action="ChangePassword" asp-route-id="@user.Id"> Change Password</a> | <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete this movie?')">Delete</a></td>
            </tr>
        }
    </tbody>
</table>